.weblogo{
  width: 65px;
}
.navbar{
  background: #00000882 !important;
}

.weblogo {
  height: 45px;
}

.moblogo {
  display: none;
  height: 40px;
}

/* Mobile View */
@media (max-width: 768px) {
  .weblogo {
    display: none;
  }

  .moblogo {
    display: inline-block;
  }

  .carousel img {
    height: 300px;
    object-fit: cover;
  }
}

.navbar-nav li{
  padding: 0 10px;
}

.navbar-nav li a{
  color: #fff !important;
  font-weight: 200;
  font-size: 20px;
}
.moblogo{
  display: none;
}
@media(max-width: 768px){
  .weblogo{
    display: none;
  }
  .moblogo{
    display: block;
  }
  .navbar{
    background: #f4e803 !important;
  }
}

.image1234 {
  width: 80%;
}

.a {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "prague";
  letter-spacing: 3px;
}

.b {
  line-height: 35px;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding-right: 5px;
  text-align: justify;
}

.c {
  background: url(https://pn-paul.netlify.app/image/img%20background.jpg);
  width: 100%;
  height: 450px;
  padding: 150px;
  word-spacing: 5px;

}

.d {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "prague";
  letter-spacing: 3px;
  font-size: 40px;
}

.e {
  background: url(https://pn-paul.netlify.app/image/ffback2.png);
  width: 100%;
  height: 500px;
  padding: 150px;
  word-spacing: 5px;

}

footer {
  background: #020306f0;
  padding: 50px;
  color: #fff;
}

footer .image2 {
  margin-top: 38px;
  width: 50%;
}

footer h2 {
  font-family: prague;
  font-size: 2 rem;
  line-height: 58px;
  letter-spacing: 2px;
  color: #fff;
}

footer p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
}

.fav {
  color: orange;
  font-size: 42px;
  margin-left: 43%;
  margin-top: 15px;
}
.f{
  background: url(	https://pn-paul.netlify.app/image/gamebanner.jpg);
   width: 100%;
  height: 450px;
  padding: 150px;
  word-spacing: 5px;

} 
.g{
  background: url(https://pn-paul.netlify.app/image/ourimage.jpg);
   width: 100%;
  height: 450px;
  padding: 150px;
  word-spacing: 5px;
  
}  

.h{
  background: url(https://pn-paul.netlify.app/image/brands.jpg);
  width: 100%;
  height: 450px;
  padding: 150px;
  word-spacing: 5px;
  
 }
 